html {
    font-family: 'Roboto', sans-serif;
}

/* This sets the gradient in the header */
h1 {
    text-align: center;
    color: white;
    margin: 10px;
    padding: 30px 0px 30px 0px;
    background-image: linear-gradient(to right, rgb(48, 63, 145) , rgb(29, 26, 78));

  }

  /* Gets rid the the bullet points of the list and lessens the left padding */
  ul {
    list-style-type: none;
    padding: 0 0 0 10px;
  }

  li {
    margin: 10px 0
  }

  /* This formats the boxes for the 5 day forecast */
  .box {
    height: 180px;
    width: 150px;
    margin: 0;
    background-color: rgb(43, 51, 80);
    color: white;
   
  }

  .box h3 {
    padding: 0 0 0 10px;
  }

  /* Puts the border around the current day thats displaying the weather */
  .current-date {
    padding: 10px;
    border: 1px solid #484848;
  }

  /* formats the layout of the 5 day forecast boxes */
  .future-dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    box-sizing: border-box;
  }

  /* Places and formats the input element */
  #search-input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    padding: 0.5rem 1.2rem; 
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
    box-sizing: border-box;

    margin-bottom: 0.625rem;
  }

  /* formats a default button */
  .btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem; 
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    width: 100%;
    display: block;
    text-align: center;
  }

  /* adds cursor and changes the color of the button when hovering over it */
  .btn:hover {
    background-color: #cecece;
    cursor: pointer;
  }

  /* changes the color of the seaarch button */
  .search-btn {
    background-color: #4b78cb;
    color: #ffffff;
  }

  /* changes the colors of the history button */
  .history-btn {
    background-color: #9e9e9e;
    color: #000000;
    margin-top: 10px;
  }

  /* makes the boundaries for the elements in the flex box */
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* makes it takes up only 25% of the screen leaving the 75% for the results */
  .left-nav{
    
    padding: 1rem;

    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

  }

  /* the results from the input */
  .weather-result {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
   
    padding: 1rem;
    box-sizing: border-box;
  }
